<%= nested_form_for(@message) do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <% if message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.text_area :body, class: "form-control froala-editor" %>
  </div>

  <h3>Categorías</h3>
  <%= f.fields_for :messages_categories, Category.all do |c| %>
    <div class="checkbox">
      <label class="checkbox-inline">
        <%= c.check_box :category_id, { checked: @message.categories.pluck(:id).include?(c.object.id) }, c.object.id, nil %>
        <%= c.object.name %>
      </label>
    </div>
  <% end %>

  <h3>Visibilidad</h3>
  <div class="radio">
    <label>
      <%= f.radio_button :privacy, 'visible' %>
      Público
    </label>
  </div>
  <div class="radio">
    <label>
      <%= f.radio_button :privacy, 'invisible' %>
      Privado
    </label>
  </div>

  <!-- <div class="field">
    <%#= f.number_field :privacy %>
  </div> -->

  <%= f.submit 'Guardar', class: "btn btn-success" %>
<% end %>
