<h2 class="h2">Registrarse</h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.email_field :email, autofocus: true, class: "form-control input-lg", placeholder: "Correo electr칩nico" %>
  </div>

  <div class="form-group">
    <%= f.password_field :password, autocomplete: "off", class: "form-control input-lg", placeholder: "Contrase침a" %>
  </div>

  <div class="form-group">
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control input-lg", placeholder: "Repetir Contrase침a" %>
  </div>

  <div class="btns">
    <%= f.submit "Registrarse", class: "btn btn-success form-btn" %>
    <%= link_to 'Iniciar Sesi칩n', sign_in_path, class: "btn btn-default form-btn" %>
  </div>

<% end %>
