<article>
  <h3><%= link_to group.name.capitalize, group_path(group.slug) %></h3>
  <%= fa_icon "users" %>
  <%= count_users(group) %>
  &nbsp;
  &nbsp;
  &nbsp;
  &nbsp;
  <%= fa_icon "comments-o" %>
  <%= group_messages(group) %>
</article>
