<h2 class="h2">Iniciar Sesi칩n</h2>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group">
    <%= f.email_field :email, autofocus: true, class: "form-control input-lg", placeholder: "Correo Electr칩nico" %>
  </div>

  <div class="form-group">
    <%= f.password_field :password, autocomplete: "off", class: "form-control input-lg", placeholder: "Contrase침a" %>
  </div>

  <%# if devise_mapping.rememberable? -%>
  <div class="checkbox ck">
    <label>
      <%= f.check_box :remember_me %> Recordarme
    </label>
  </div>
  <%# end -%>

  <div class="btns">
    <%= f.submit "Iniciar Sesi칩n", class: "btn btn-success form-btn" %>
    <%= link_to "Registrarse", sign_up_path, class: "btn btn-default form-btn" %>
  </div>

<% end %>
